<html>
    <head>
        <style>
            body {
                background-color: peachpuff;
                font-family: comic sans ms;
                font-size: 24px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>FightHunger</div>
        <a href="index">Home</a>
        <div >
            <p>
FightHunger was founded with the main aim of distributing food to drought striken
areas around Kenya. Now we also deal will all families in need of food aid around the country.
We strongly believe that united we can reach everyone and our aim is to ensure that we stop hunger and malnutrition.
            </p>
        </div>
    </body>
</html>
