<html>
    <body>
        <div>
            <h1>FightHunger</h1>
            <h2>Sign up to Donate Now</h2>
        </div>
        <div>
            <p>By sharing your name and email address, you agree that
                FightHunger will use this information for the purpose of
                contacting you to share step by step instructions on how you can help.
            </p>
        </div>
    </body>
</html>
