<html>
 <head>
    <style>
.on-top {
    background-color: lightcoral;
    font-size: 20px;
    font-family: comic sans ms;
    font-weight: bold;
    
}
#background {
    background-image: url("https://images.pexels.com/photos/9706064/pexels-photo-9706064.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 600px;
    align-items: stretch;
    box-sizing: border-box;
    font-size: 24px;
    font-family: comic sans ms;
    font-weight: bold;
    background-position: center;
}

.intro {
    font-family: comic sans ms;
    font-size: 18px;
    background-color: lightcoral;
}
button {
    height: 40px;
    font-size: 20px;
    font-family: comic sans ms;
    font-weight: bold;
    background-color: aqua;
}
.header {
    font-family: comic sans ms;
}
    </style>
 </head> 
<body>
        <h1 id="header">FightHunger</h1>
       <div class="on-top">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="donate">Donate</a>
       </div> 
     <div id="background">
        <p>Together We Can</p>
     </div>  
     <div class="intro">
        <p>It is unfortunate that many families in Kenya sleep hungry every day.You have 
            a chance to make a difference in these people's lives and bring smiles to 
            their faces.
        </p>
        <button><a href="donate">Donate</a></button>
     </div>
    </body>
</html>
